<table border="1">
  <tr>
    <td><%= link_to "Basic Info", edit_job_path(@job) %></td>
    <td><%= link_to "Requirement & Responsibility", edit1_job_path(@job) %></td>
    <td><%= link_to "Benefit & Company Profile", edit2_job_path(@job) %></td>
    <td><%= link_to "Suggestion", edit3_job_path(@job) %></td>
  </tr>
</table>
