<div class="search-result">
  <div class="countainer"> 
    <div class="signup upload-file">
  
  
<%= form_for Submission.new, :url => job_submissions_path(@job) do |f| %>

  <div class="flatbutton belize"><%= link_to "View My Profile", user_path(current_user) %></div>
  <div>
   <h4>Upload Files (CV or Cover Letter)</h4>
    <div class="fileUpload btn btn-primary">
      <span>Upload</span>
      <%= f.file_field :logo %> <br>
    </div>
  </div>  
  <%= f.submit "Submit" %>
<% end %>
  <div class="clearfix"></div>
  
    </div>
  </div>
</div>

<script>
  $(".search-result").fadeIn(500);
</script>