<table border="1">
  <tr>
    <td><%= link_to "Basic Info", edit_user_path(current_user) %></td>
    <td><%= link_to "Experience", edit1_user_path(current_user) %></td>
    <td><%= link_to "Education", edit2_user_path(current_user) %></td>
    <td><%= link_to "Language & Skill", edit3_user_path(current_user) %></td>
  </tr>
</table>
