/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.countainer{
  width:100%;
  max-width:1200px;
  margin:auto;
}
.slogan{
  width: 500px;
  position: absolute;
  top: 82px;
  left: 37%;
}
.wrapper{
  width: 1200px;
  margin: auto;
}
.left{
  float:left;
}
.right{
  float:right;
}
.clearfix{
  clear:both
}
.flatbutton{
  position: relative;
  vertical-align: top;  
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0; 
  cursor: pointer;
	}
.flatbutton a,.flatbutton a:hover{
	color:#FFF;
	}
.flatbutton:active{
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.inblock{
  display:inline-block;	
}
.text-shadow{
  text-shadow:1px 1px 1px #666;	
}
/*hyperlink*/
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/*header*/
header{
  background-color:#F26E1A;
  height:60px;
  position:fixed;
  top:0;
  width: 100%;
  z-index:999;
	}
header .countainer{
  padding:20px 0;
  max-width:1200px;
	}
.logo{
  width:133px;
  height:28px;
  background-image:url(logo.png);
  background-size:cover;
  margin-left:15px;
  float:left;
    }
.main-nav {
  color:#FFF;
  float: right;
  margin: 0;
  padding: 0;
  margin-right:15px;
}
.main-nav li a{
  	color:#FFF;
}
.main-nav li{
  list-style:none;
  font-size:14px;
  padding:0 24px;
  line-height:28px;
  float:left;
}

/*index*/
.index-bg{
  background-image:url(cover.jpg);
  background-size:cover;
  -webkit-filter: blur(8px);
  width:105%;
  height:105%;
  position:fixed;
  top:-2.5%;
  left:-2.5%;
  z-index:-1;
	}
  /*searchbox*/
.s-box{
  text-align:center;
  margin-top:20vh;
	}
div.srchBox {
  display: inline-block;
  position: relative;
  padding: 28px;
  z-index: 1;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(200deg, rgba(242,110,26,0.7) 0%,rgba(247,147,30,0.7) 100%);
  background-image: -moz-linear-gradient(200deg, rgba(242,110,26,0.7) 0%,rgba(247,147,30,0.7) 100%);
  background-image: linear-gradient(200deg, rgba(242,110,26,0.7) 0%,rgba(247,147,30,0.7) 100%);
  box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
  width:100%;
  box-sizing:border-box;
  max-width:550px;
  width:100%;
}

/* search */
#keyword{
  margin: auto;
  display:block;
  height:40px;
  display: block;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  background-color: #FFF;
  color: #333;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: all 0.5s;
  padding:0 15px;
  width:100%;
}
.search-button{
  background: #1abc9c;
  border-bottom: 2px solid #12ab8d;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  font-size: 22px;
  border-radius:7px;
  color: white;
}

/*.search{
  padding: 0.5em;
  background-color: rgba(242, 110, 26, .9);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}*/

/*search-result*/
.search-result{
	background-color:#EEE;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
	display:none;
	padding-top: 60px;
	overflow-y:auto;
	}

.searchtop, .searchtop:hover {
    left: -8px;
    color: #FFF;
    cursor: pointer;
    background: #e67e22;
    border-bottom: 2px solid #da751c;
    padding: 7px;
    margin-top: 2px;
    font-size: 14px;
}
#keyword1 { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background:url(search.png) no-repeat 8px 6px; 
	background-color:#FFF;
}
.lighter{
	width:90%;
	max-width:800px;
	text-align:right;
	padding:10px 25px;
	margin: auto;
}

/*jobbox*/
.newjob{
	width:90%;
	max-width:800px;
	margin:auto;
	position: relative;
	}
.newjob .flatbutton{
  background: #e74c3c;
  border-bottom: 2px solid #db4334;
  color: #FFF;
  max-width:120px;
  border-radius:20px;
	}
.newjob .flatbutton a{
  color:#FFF;	
	}
.jobbox{
	width:90%;
	max-width:800px;
	padding:15px 25px;
	background:#FFF;
	margin:auto;
	border-radius:10px;
	margin-top:15px;
	}
.jobbox .flatbutton a,.jobbox .flatbutton a:hover{
	color:#FFF;
	}
div.jobbox:nth-child(odd){
	background:#DDD;
	}
.jobbox h2,.jobbox h3,.jobbox h4{
  color:#004687;	
	}
.jobbox-head{
	border-bottom: 2px solid #000;
	}
.position{
	margin:0;
	font-size:40px;
	color:#004687;
	}
.detail01.right {
  margin-top: 25px;
}
.detail02{
  font-size:18px;	
	}
.detail02 h3{
  margin-bottom:10px;
  }
.salary{
  font-size:30px;	
  }
.detail02 h4{
  margin:10px 10px 0px 0px;	
  width:65px;
	}
.employer{
  font-size: 22px;
  margin-right: 10px;
  color:#004687;	
	}
.detail03{
  margin-top:15px;
  border-radius:5px;	
  background:#CCC;
  padding:5px 20px 15px 20px;	
	}
.detail03 h4{
  margin:10px 10px 0px 0px;	
	}
.jobbox-footer {
  font-size: 20px;
  color: #666;
  margin-top: 25px;
  position:relative;
}
.detail04{
  position:absolute;
  bottom:0;	
	}
.comments-icon{
  width:30px;
  height:30px;
  font-size:0;
  background-image:url(comment.png);
  background-repeat:no-repeat;
  background-size:cover;
  display: inline-block;
  vertical-align:middle;	
	}
input[value="Follow"]{
  width: 30px;
  height: 30px;
  background-image: url(unfollow.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 0px;
	}
input[value="Unfollow"]{
  width: 30px;
  height: 30px;
  background-image: url(follow.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 0px;
	}
.comments,.follows{
  margin-right:15px;
  display:inline-block;
	}
.showdetail{
	background: #e67e22;
    border-bottom: 2px solid #da751c;
    color: #FFF;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 15px;
	}
.application{
	text-align:right;
	}
.application h4{
	margin:0;
	color:#900;
	}
.status{
	color:#000;
	font-weight:bold;
	}
.apply{
	margin-top:10px;
    background: #16a085;  
    border-bottom: 2px solid #14947b;
    color: #FFF;
    padding: 3px 20px;
    font-size: 25px;
	min-width:120px;
	float:right;
	border-radius:5px;
	margin-left:5px;
	}
/*singup login*/
.signup{
  position: relative;
  padding: 10px 28px;
  z-index: 1;
  border-radius: 8px;
  background-color:rgba(220,220,220,.8);
  box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
  width:100%;
  box-sizing:border-box;
  max-width:350px;
  width:100%;
  margin:3vh auto 0;
	}
.signup label{
  font-weight:bold;	
	}
.signup h2{
  margin:0 0 10px 0;	
  color:#333;
	}
.signup input[type='text'],.signup input[type='email'],.signup input[type='password']{
  margin: auto;
  display:block;
  height:40px;
  display: block;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  background-color: #FFF;
  color: #333;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: all 0.5s;
  padding:0 15px;
  width:100%;
	}
.signup [type="submit"],singup [type="submit"]:hover{
  position: relative;
  vertical-align: top;  
  padding: 5px 15px;;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0; 
  cursor: pointer;
  color:#FFF !important;
  background: #1abc9c;
  border-bottom: 2px solid #12ab8d;
  margin-top: 15px;
  height: 40px;
  font-size: 22px;
  float:right;
	}
.signup [type="submit"]:active{
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }	

	
/*show*/	

.edit.flatbutton{
  background: #e74c3c;
  border-bottom: 2px solid #db4334;
  color: #FFF;
  padding:1px 10px;
  border-radius:20px;
  float:right;
	}
.edit.flatbutton a{
  color:#FFF;	
	}
	
.comments-box{
	width:90%;
	max-width:800px;
	padding:15px 25px;
	background:#FFF;
	margin:auto;
	border-radius:10px;
	margin-top:15px;
	}

.scroll-comment{
	overflow-y:scroll;
	height:250px;
	}

.scroll-comment ol{
	list-style: none;
	background:#CCC;
	box-shadow:0 0 3px #333 inset;
	padding:10px 10px;
	min-height:250px;
	border-radius:10px;
	}
.scroll-comment ol li{
	background:rgba(255,51,0,1);
	color:#FFF;
	width: 70%;
	position:relative;
	padding:5px 5px;
	border-radius:8px;
	}	
.scroll-comment ol li .squ-point{
	width:15px;
	height:15px;
	background:black;
	position:absolute;
	transform:rotate(45deg);
	left:-7px;
	top:7px;
	background:rgba(255,51,0,1);
	z-index:-1;
	left: -5px;
    top: 12px;
	}
.comment-area textarea{
  min-height:150px;
  display: block;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  color: #333;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: all 0.5s;
  padding:0 15px;
  width:100%;
	}	
	
/*fllower-list*/	
.follow-list h2{
	width:90%;
	max-width:800px;	
	margin: 20px auto 0px;		
	}
.follow-box{
	width:90%;
	max-width:800px;
	padding:15px 25px;
	background:#FFF;
	margin:auto;
	border-radius:10px;
	margin-top:15px;
	position:relative;	
	}	
.follow-box .ctrlbar{
	text-align:right;
	}	
.photo{
	width:100px;
	height:100px;
	}	
.basic{
	max-width:620px;
	width:100%;
	}
.basic h1{
	margin:0;
	}
.loaction{
	color:#333;
	}	
.summary{
	margin-top:10px;
	}
.app{
	font-size:22px;
	}
.app h3{
	margin:0 0 5px 0;
	}
.app div{
	font-size:25px;	
	}	
.green{
    background: #16a085;  
    border-bottom: 2px solid #14947b;
    color: #FFF;
	border-radius:5px;	
	}
.showd.green{
	margin:10px auto;
	display:inline-block;
	padding: 2px 8px;
	}
.email-icon{
  width:30px;
  height:30px;
  font-size:0;
  background-image:url(mail.png);
  background-repeat:no-repeat;
  background-size:cover;
  display: inline-block;
  vertical-align:middle;
  margin-right:3px;
	}	
	
.nephritis{
  background: #27ae60;
  border-bottom: 2px solid #219d55;
  color:#FFF;
  border-radius:5px;
  font-size:20px;
	}	
.red{
  background: #c0392b;
  border-bottom: 2px solid #b53224;	
  color:#FFF;
  border-radius:5px;
  font-size:20px;
	}
.app .red{
  margin-top:3px;	
	}
	
/*user-show*/
.edit-box{
	border:3px groove #DDD;
	padding:10px 15px;
	border-radius:5px;
	position:relative;
	margin-top:15px;
	}
.edit-box .edit{
	position:absolute;
	top:10px;
	right:10px;
	}
.edit-box .edit:active{
	top:11px;
	}
.edit-box h2{
	margin:0 0 5px 0;
	font-size:30px;
	}
.summary-photo{
	width:300px;
	height:300px;
	}
.basic-edit.left{
	margin-left:10px;
	max-width:450px;
	}

.basic-edit h3{
	margin:5px 0 3px 0;
	}
.detial-box{
	width:32%;
	display:inline-block;
	vertical-align:top;
	min-width: 150px;
	}
#language{
	border-spacing: 0;
	width: 50%;
    border: 1px solid #666;
	main-width:300px;
	}
#language th,#language td{
	width:50%;
	margin:0;
	padding:5px 8px;
	border-left:1px solid #666;
	}
#language th{
	text-align:left;
	border-bottom:2px solid #666;
	}
#language tr:nth-child(even){
	background:#999;
	color:#EEE;
	}

/*fileuploader*/
.upload-file{
	margin-top:15vh;
	background-color:rgba(204,102,0,0.6);
	}
.upload-file h4{
	margin:5px 0;
	}
.fileUpload {
	position: relative;
	overflow: hidden;
    background: #666;
    border-bottom: 2px solid #333;	
    color:#FFF;
    border-radius:5px;
   display: inline-block;
   padding: 5px;
}
.fileUpload:active {
  top:1px;
}
.fileUpload input[type="file"]{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


/*   */
.before_login_wrapper,
.after_login_wrapper{
  background-color: #F26E1A;
  height: 60px;
}
.cover{
  width: 100%;
  height: 100%;
  margin-top: -32px;
  opacity: 0.7;
  position: relative;
}









/* 登入後的nav */
.nav{
  float: right;
  /*margin-right: 50px;*/
  margin-top: 21px;
}
.setting{
  margin-right: 60px;
  color: white;
}



.logout{
  color: #666;
  text-decoration: none;
}
.logout:hover{
  text-decoration: underline;
}
/*    */



/*   */


/*  new post job  */
.new_post_job_title{
  padding-bottom: 39px;
  border-bottom: 6px solid #F26E1A;
  margin: 49px 229px 55px;
}

.new_post_job label{
  text-align: right;
  line-height: 2.5;
  font-size: 18px;
}
/*.new_post_job input{
  float: right;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 1) inset;
  border-style: none;
  width: 240px;
  height: 25px;
  margin-top: 6px;
}*/
#job_requirement, #job_benefit,
#job_company_profile, #job_responsibility, #job_suggestion label{
  /*text-align: right;*/
  line-height: 2.5;
  font-size: 18px;
  float: right;
  margin-top: 14px;
}

#job_type_id{
  width: 242px;
  margin: 15px 562px;
  display: inline-block;
}
.salary{
  width: 409px;
  margin: auto;
  position: relative;
}
#job_salary_min{
  position: absolute;
  left: 167px;
  width: 100px;
}
#job_salary_max{
  position: absolute;
  left: 308px;
  width: 100px;
}
.salary span{
  position: absolute;
  top: 16px;
  left: 284px;
}
.currency{
  width: 409px;
  margin: auto;
  border-bottom: 1px solid #ddd;
  padding: 30px;
}
.requirement, .benefit, .company_profile,
.responsibility, .suggestion{
  width: 800px;
  margin: auto;
}
/*    */


/* follow list*/
.follow_list{
  margin: 0 0 45px 119px;
}
/*   */


/* job_follows */
.job_follows{
  display: inline-block;
  position: absolute;
  top: 114px;
  left: 316px;
}
.job_follows .new_unfollow, .new_follow{
  display: inline-block;
}
.job_follows_table{
  position: relative;
}
.job_follows_table h3{
  display: inline-block;
  margin-bottom: 50px;
}

input[type="submit"]{
/*  border-style: none;
  background-color: #F26E1A;
  color: #fff;
  display: inline-block;
  vertical-align: bottom;*/
}
.comment_wrapper{
  width: 960px;
  border-bottom: 1px solid #ddd;
  margin-top: 40px;
  padding-bottom: 30px;
}
.new_comment_wrapper{
  width: 960px;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
}



